.login{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F2ECFF;
}
.form_container{
    width: 300px;
    height: 400px;
    background-color:#00C896;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    border-radius: 5px;
}
.form_input{
   border-radius: 5px;
   width:90%;
   height: 40px;
   outline: none;
   background-color: white;
   margin-top: 20px;
}
.form_container Button{
    width: 50%;
    background-color: grey;
    margin-top: 30px;
    color: white;
    font-size: 20px;
}

